@font-face {
  font-family: "Wotfard";
  src: url("Wotfard-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WotfardLight";
  src: url("wotfardLight.woff2") format("truetype");
  font-weight: "normal";
  font-style: normal;
}
