@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 50% !important;
}
