* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-padding-top: 70px; /* height of your navbar */
}
body {
  color: rgb(31, 34, 38);
  /* background-color: rgb(255, 255, 255); */
  background-color: #fff;
}

.listItemContent {
  font-size: medium;
  font-family: "WotfardLight";
  font-weight: 400;
  color: #9ea4b2;
  margin: 13px 0px;
}
.listItemLinkContent {
  color: #9ea4b2;
}
.innerListItemContainer {
  list-style: none;
  padding-left: 20px;
}
/* Active color items for scrollSpy */
.activeScrollItem {
  color: #020c53 !important;
  font-size: large;
}
.activeScrollItem > a {
  color: #020c53 !important;
}

pre {
  padding: 25px 30px !important;
  margin: 16px 0px;
}

code {
  /* background-color: rgb(239, 239, 239); */
  /* padding: 3px 6px; */
  border-radius: 3px;
  /* color: rgb(91, 98, 173); */
  font-family: "wotfardLight";
  font-size: medium;
  line-height: 25px;
  word-break: break-word;
}

.customCode {
  background-color: rgb(239, 239, 239);
  padding: 3px 6px;
  margin: 0px 0px;
  border-radius: 3px;
  color: rgb(91, 98, 173);
  font-family: "wotfardLight";
  font-weight: 400;
  font-size: 1.26rem;
}

.inside_ele {
  padding-left: 20px;
}

a {
  position: relative;
  color: rgb(91, 98, 173);
  text-decoration: underline;
  text-decoration-color: #9ea4b2;
  text-decoration-thickness: 0.3px;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
}

a:hover {
  color: #36106a;
  text-decoration: underline;
  text-decoration-color: #36106a;
  text-decoration-thickness: 0.3px;
  text-decoration-style: solid;
  text-underline-offset: 6px;
}

.MuiTabs-indicator {
  background-color: white;
  bottom: 6px;
  height: 1px;
}

/* TextField CSS */

.MuiFormLabel-root-MuiInputLabel-root {
  color: "white";
  outline: 1px solid white;
}
.MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  outline: 1px solid white;
}
